{{include './header.html'}}

<div class="container conter">
    <form action="/edit" method="post" style="margin-left: 30px;padding-top: 20px;padding-bottom: 20px;">
        <label>标题：</label><input type="text" name="title" value="{{title}}"><br>
        <label>标签：</label>
        <input type="text" name="lab" value="{{label[0]}}">&nbsp;
        <input type="text" name="lab" value="{{label[1]}}">&nbsp;
        <input type="text" name="lab"value="{{label[2]}}"><br>
        <label>内容：</label><br>
        <input type="text" name="_id" value="{{_id}}" hidden>
        <textarea name="msg" id="" cols="30" rows="10" style="width: 800px;">{{msg}}</textarea><br>
        <button type="submit">发布</button>{{error}}
    </form>
</div>
{{include './footer.html'}}
